@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
nav {
  padding: 20px;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
.nap {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.nap ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
.nap h1 {
  color: white;
  font-size: 35px;
  padding-left: 20px;
}
.nap a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 20px;
  padding-right: 20px;
}
.nap a:hover {
  transition: 0.3s;
  color: gold;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.gambar {
  position: relative;
  background-color: black;
}
.gambar img {
  object-fit: cover;
  width: 100%;
  height: 720px;
}
.overlay {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.overlay h2 {
  color: white;
  font-size: 50px;
}
.overlay p {
  color: white;
  font-size: 15px;
}
.overlay button {
  border-radius: 100%;
  margin-top: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: white;
}
.overlay button:hover {
  transition: 0.3s;
  background-color: gold;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.overlay a {
  color: black;
  padding: 20ox;
}
.overlay i {
  font-size: 20px;
}
#about {
  min-height: 100vh;
  padding-top: 50px;
  background: #000000;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 45%,
    rgba(255, 221, 0, 1) 100%
  );
}
.imej {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imej h1 {
  color: white;
}
.imej img {
  width: 15%;
  height: 15%;
  object-fit: cover;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-top: 20px;
}
.text {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 20px;
}
.text p {
  color: white;
  text-align: center;
  padding-top: 10px;
  width: 30%;
}
.text h3 {
  color: white;
}
.icon {
  display: flex;
  padding-top: 40px;
  gap: 40px;
  justify-content: space-around;
  font-size: 30px;
}
.icon a {
  color: white;
}
.icon a:hover {
  color: gold;
}
.hubungi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  margin-top: 40px;
  border: 2px solid gold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.hubungi:hover {
  transition: 0.3s;
  transform: translateY(-5px);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.hubungi a {
  text-decoration: none;
  color: gold;
}
.special {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.special h1 {
  color: white;
}
.ahli {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 30px;
  gap: 30px;
  padding: 40px;
}
.ahli i {
  font-size: 80px;
}
.jumlah h1 {
  border-width: 10%;
  text-align: center;
  border-bottom: 3px solid white;
}
.pro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  gap: 30px;
}
#work {
  min-height: 100vh;
  background: #000000;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(255, 221, 0, 1) 45%
  );
}
.gawe {
  position: relative;
  background-color: black;
}
.gawe img {
  object-fit: cover;
  width: 100%;
  height: 920px;
}
.overlay2 {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.overlay2 h1 {
  color: white;
  padding-top: 40px;
}
.kerja {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
}
.kerja img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.kerja .kartu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid gold;
  background-color: rgba(255, 217, 0, 0.4);
  width: max-content;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.kerja .kartu:hover {
  transform: scale(1.05);
  transition: all 0.3s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-shadow: 5px 5px 20px gold;
}
.kerja a {
  color: blue;
  padding-top: 20px;
  text-decoration: none;
  font-weight: 500;
}
.kerja p {
  color: white;
  width: 400px;
}
#contact {
  background-color: black;
}
.kontak h1 {
  color: white;
}
.kontak p {
  color: white;
}
.kontak {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: white;
}
input {
  background-color: rgba(255, 217, 0, 0.2);
  display: flex;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 20px;
  padding: 5px 20px;
  color: white;
}
textarea {
  margin-top: 20px;
  width: 585px;
  height: 200px;
  padding: 10px;
  background-color: rgba(255, 217, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
form {
  display: flex;
  flex-direction: column;
}
.cape {
  position: relative;
}
.cape img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}
.overlay3 {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.6);
}
button {
  margin-top: 1rem;
  padding: 10px;
  font-size: 1.2rem;
  background-color: rgba(255, 217, 0, 0.7);
  color: white;
  font-weight: 700;
}
button:hover{
    background-color: gold;
    transition: 0.3s;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
footer {
  background-color: rgb(14, 11, 1);
  padding: 20px;
  text-align: center;
}
footer .socials {
  padding: 20px 0 15px;
}
footer .socials a {
  margin: 10px;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
footer .socials a:hover {
  color: gold;
}
footer .links {
  margin-bottom: 15px;
}
footer .links a {
  color: rgb(255, 255, 255);
  padding: 15px;
  font-weight: 500;
  text-decoration: none;
}
footer .links a:hover {
  color: gold;
}
footer .credit {
  font-size: 13px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}
footer .credit a {
  font-weight: 700;
  color: gold;
}
